<nav class="nav-bar">
    <div class="container">
        <div class="nav-in">
            <div class="logo-box">
                <h1 class="logo-text"><a class="logo-link" href="/trendingdb/">trends.</a></h1>
            </div>
        </div>
    </div>
</nav>